@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
body {
  background-color: white;
}

* {
  scroll-behavior: smooth;
}

.text-gray-818283 {
  color: #818283;
}
